.text{
	color: ghostwhite;
	margin-bottom: 30px;
}
input{
	color: black;
	border-style: solid;
	border-color: #848a8d;
	border-radius: 5px;
	width: 100px;
	height: 20px;
	background-color: #9db0ba;
}
button{
	width: 80px;
	height: 25px;
	color: white;
	background-color: #37a0d8;
	border-color: #37a0d8;
	border-style: solid;
	border-radius: 9px;
	margin: 10px 24px;
}

button:active{
	background-color: #848a8d;
	border-color: #848a8d;
	color: white;
}
#In{
	width: 300px;
	height: 250px;
	background-color: #848a8d;
	border-radius: 12px;
	text-align: center;
	margin: auto;
	padding: 10px;
}
#Out{
	width: 100vw;
	height: 100vh;
	background-color: #4b4b4b;
	padding: 250px 0px;
}

#output{
	width: 230px;
	height: 22.5px;
	color: black;
	background-color: #9db0ba;
	border-radius: 5px;
	margin: 20px auto;
}
